* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary: #ff5b2e;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

/* common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 56px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgba(0, 9, 88, 0.7);
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn--primary {
  color: #fff !important;
  background: var(--primary) !important;
  border-color: var(--primary) !important;
}

.section__heading {
  font-family: Sora, sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.2;
  color: #000958;
}

.section__desc {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #656689;
}

/* header */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

/* .navbar__item {
} */

.navbar__item:hover {
  cursor: pointer;
}

.navbar__link,
.header-action__link {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}

/* .navbar__link.active {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #000958;
} */

.navbar__link:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

/* action btn */

.header-action__btn {
  --height: 50px;
  min-width: 118px;
}

/* Hero */
.hero {
  margin-top: 74px;
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
  border: 3px solid #fff;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  left: -58px;
  bottom: 10px;
}

.hero__decor:last-child {
  top: 17px;
  right: -43px;
}

.hero__media {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}

.hero__img-wrap-small {
  width: 186px;
  height: 244px;
  align-self: flex-end;
  background: #faa7ad;
  border: 2px solid #fcdddf;
  margin-left: -23px;
  margin-bottom: -58px;
}

.hero__list {
  width: 250px;
  height: 156px;
  background: #ffffff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 129px;
}

.hero__list-item {
  padding: 18px 14px;
  display: flex;
  align-items: center;
}

.hero__list-item:last-child .hero__list-item__thumb {
  background: #c6e2fa;
}

.hero__list-item__info {
  margin-left: 10px;
}

.hero__list-item__title {
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
}

.hero__bottom {
  width: 222px;
  margin: 0 auto;
  border: 2px solid #f2f2f2;
  border-radius: 10px;
}

.hero__list-item__thumb {
  width: 40px;
  height: 40px;

  background: #fec23f;
  border-radius: 10px;
  object-fit: cover;
}

.hero__list-item__skelecton {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}

.hero__list-item__skelecton:last-child {
  width: 39px;
  height: 4px;
  background: #000958;
  opacity: 0.08;
  border-radius: 10px;
}

/* hero__content */
.hero__content {
  width: 517px;
  height: 440px;
}

.hero__heading {
  font-family: "Sora", sans-serif;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}

.desc {
  margin: 18px 0 38px 0;
  width: 391px;
  height: 90px;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.87;
  color: #656689;
}

.action-btn {
  display: flex;
  align-items: center;
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background: #fff;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
  border-radius: 50%;
}

.hero__btn-shadow {
  --height: 60px;
  min-width: 189px;
}

.btn__link {
  text-decoration-line: underline;
  margin-left: 24px;
  color: #000958;
}

/* about */
.about {
  margin-top: 100px;
  padding-top: 38px;
  padding-bottom: 130px;
}

.about__inner {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 146px;
}

.about__label {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.about__media {
  position: relative;
}

.about__heading {
  margin-top: 15px;
  width: 446px;
  height: 124px;
}

.about__desc {
  margin-top: 24px;
  width: 431px;
  height: 90px;
}

.about__checklist {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  margin-top: 54px;
  gap: 36px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1.8;
  line-height: 1;
  color: #48496a;
}

.about__check-item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
  border-radius: 4px;
}

.about__check-item::after {
  content: url("../../assets/icon/check.svg");
  position: absolute;
  top: 3px;
  left: 4px;
}

.about__card {
  position: absolute;
  top: 157px;
  left: 0;
  width: 136px;
  padding: 30px 26px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
  border-radius: 10px;
  text-align: center;
}

.about__card-title {
  font-family: Sora, sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: #ffffff;
}

.about__card-desc {
  margin-top: 14px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.42;
  color: #c6f4f9;
}

.about__card-img {
  position: absolute;
  top: -39px;
  right: -33px;
}

.about__img-wrap {
  position: relative;
  margin-left: auto;
  text-align: center;
  width: 494px;
  border-radius: 16px;
}

.about__img-wrap::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  bottom: 0;
  height: 336px;
  z-index: -1;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__media-union {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}

.about__img {
  width: 450px;
}

.about__img-wrap-bottom::after {
  content: none;
}

.about__img-wrap-bottom {
  width: 458px;
  margin-left: 0;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  border: 2px solid #ffffff;
  box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
  border-radius: 18px;
}

.about__img-bottom {
  width: 100%;
}

.about__img-decor {
  position: absolute;
}

.about__img-decor:nth-child(1) {
  top: 13px;
  right: 64px;
}

.about__img-decor:nth-child(2) {
  top: -16px;
  right: 13px;
}

.about__img-decor:nth-child(3) {
  top: 33px;
  right: -21px;
}

.about__img-decor:nth-child(4) {
  top: 268px;
  right: -33px;
}

.about__img-decor:nth-child(5) {
  top: 336px;
  right: 20px;
}

.about__img-decor:nth-child(6) {
  /* top: 435px; */
  right: -24px;
  bottom: -40px;
}

.about__img-decor:nth-child(7) {
  right: -32px;
  bottom: -47px;
}

.about__img-decor:nth-child(8) {
  right: -42px;
  bottom: -55px;
}

.about__desc-bottom {
  width: 511px;
  margin-bottom: 52px;
}

.tab__list {
  position: relative;
  display: inline-flex;
  margin-bottom: 36px;
  column-gap: 56px;
}

.tab__list::after,
.tab__items-active::after,
.tab-link::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: #ff5b2e;
  border-radius: 1px;
  opacity: 0.07;
}

.tab__items-active::after {
  width: 95px;
  /* background: #ff5b2e; */
  opacity: 1;
}

.tab__items {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 11px;
  padding-bottom: 14px;
}

.tab__title {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
  white-space: nowrap;
}

.tab__icon {
  width: 20px;
}

.tab-desc {
  width: 391px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 24px;
  margin-bottom: 32px;
  color: #656689;
}

.tab__content-item {
  display: none;
}

.tab__content-item-active {
  display: block;
}

.tab-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ff5d31;
}

.tab-link::after {
  height: 1.5px;
  opacity: 1;
}

/* service */

.service {
  background: #fff6ed;
}

.service__top {
  font-family: Sora, sans-serif;
  padding-top: 68px;
  text-align: center;
}

.service__desc {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.service__body {
  display: grid;
  margin-top: 70px;
  grid-template-columns: auto 1fr auto;
  column-gap: 65px;
}

.service-item + .service-item {
  margin-top: 24px;
}

.service-item {
  width: 294px;
  /* height: 208px; */
  background: #ffffff;
  border: 2px solid rgba(255, 188, 122, 0.26);
  border-radius: 10px;
}

.service-item__body {
  padding: 30px 22px 30px 28px;
}

.service-item__heading {
  position: relative;
  font-family: "Sora", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
  padding-left: 12px;
}

.service-item__heading::before {
  position: absolute;
  display: inline-block;
  content: "";
  inset: 0 auto 0 0;
  width: 2px;
  border-radius: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.service-item__desc {
  margin: 18px 0 24px 0;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #656689;
}

.service-item__link {
  display: inline-flex;
  align-items: center;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}

.service-item__link::after {
  content: url("../../assets/icon/ArrowUpRight.svg");
  margin: 2px 0 0 6px;
}

.service__media {
  position: relative;
  margin-top: 18px;
  text-align: center;
}

.service__media::after {
  content: "";
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 350px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
  border-radius: 10px;
}

.service__img {
  position: relative;
  display: block;
  z-index: 1;
  width: 100%;
}

.service__cta-wrap {
  margin-top: 45px;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.service__cta {
  min-width: 217px;
  border: 1px solid currentColor;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  font-weight: 500;
  color: #ff5b2e;
}

/* staff */

.staff {
  padding: 62px 0 130px 0;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  text-align: center;
}

.staff__heading {
  margin: 15px 0 45px 0;
}

.staff__item-img {
  width: 100%;
  display: block;
  border-radius: inherit;
}

.staff__item-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff__item-wrap::before {
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
  height: 94%;
  width: 100%;
  border-radius: inherit;
  z-index: -1;
  bottom: 0;
  left: 0;
}

.staff__item-wrap::after {
  content: "";
  width: calc(100% + 36px);
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.staff__item:nth-child(2) .staff__item-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__item-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__item-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item:nth-child(1) .staff__item-wrap::after {
  background-image: url("../img/staffdecor01.svg");
}

.staff__item:nth-child(2) .staff__item-wrap::after {
  background-image: url("../img/staffdecor02.svg");
}

.staff__item:nth-child(3) .staff__item-wrap::after {
  background-image: url("../img/staffdecor03.svg");
}

.staff__item:nth-child(4) .staff__item-wrap::after {
  background-image: url("../img/staffdecor04.svg");
}

.staff__item:nth-child(even) .staff__item-wrap::after {
  background-position: top;
  top: 19px;
}

.staff__item-title {
  font-size: 1.4rem;
  line-height: 1;
  margin-top: 29px;
  color: #656689;
}

.staff__item-name {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  margin-top: 14px;
  color: #000958;
}

.staff__cta-wrap {
  display: flex;
  margin-top: 48px;
  justify-content: center;
}

.staff__cta {
  border: 1px solid currentColor;
  min-width: 193px;
  color: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* pricing */
.pricing {
  padding: 86px 0;
  background: #fff6ed;
}

/* .pricing__body {
  text-align: center;
} */

.pricing__heading,
.pricing__desc {
  text-align: center;
}

.pricing__desc {
  width: 709px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  font-weight: 400;
}

.pricing__switch-wrap {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.pricing__switch-label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 276px;
  height: 56px;
  border: 1px solid rgba(255, 91, 46, 0.7);
  outline: none;
  border-radius: 99px;
  padding: 0 40px;
  /* transform: all ease 0.25s; */
  user-select: none;
  cursor: pointer;
}

.pricing__switch-label::before {
  display: block;
  content: "";
  position: absolute;
  min-width: 140px;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: inherit;
  background: #ff5b2e;
}

.pricing__switch-value {
  position: relative;
  z-index: 1;
  color: #fff;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
  left: auto;
  right: 0;
  min-width: 131px;
}

.pricing__switch-input:not(:checked)
  + .pricing__switch-label
  .pricing__switch-value:nth-child(2),
.pricing__switch-input:checked
  + .pricing__switch-label
  .pricing__switch-value:nth-child(1) {
  color: #ff5b2e;
}

.pricing__switch-inner {
  position: relative;
}

.pricing__switch-img {
  position: absolute;
  top: -10px;
  right: -112px;
}

/* pricing__list */
.pricing__container {
  width: 996px;
}

.pricing__list {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
}

.pricing__item {
  padding: 30px 28px;
  width: 302px;
  background: #ffffff;
  border-radius: 20px;
}

.pricing-label {
  font-size: 1.2rem;
  line-height: 1;
  color: #ff5b2e;
}

.pricing-title,
.pricing-price {
  font-family: Sora, sans-serif;
}

.pricing-title {
  margin-top: 8px;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #3f4065;
}

.pricing-price {
  display: block;
  margin: 22px 0;
  font-weight: 700;
  font-size: 3.3rem;
  line-height: 1;
  color: #000958;
}

.pricing__btn {
  --height: 44px;
  min-width: 246px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  border-radius: 99px;
  color: #ff5b2e;
  background: transparent;
}

.pricing__item-list {
  margin-top: 24px;
}

.pricing__item:hover {
  box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
  border-radius: 20px;
  transform: translateY(-2px);
}

.pricing__item-item {
  margin-top: 18px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.pricing__item-item::before {
  content: url("../icon/check2.svg");
  margin-right: 15px;
}

/* reviews */
.reviews {
  padding: 103px 0 53px;
}

.review__inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.review__list {
  display: flex;
}

.review__content {
  overflow: hidden;
  flex-shrink: 1;
}

.review__prev,
.review__next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  flex-shrink: 0;
  border: 1.5px solid rgba(255, 91, 46, 0.6);
  background: transparent;
  color: #ff5b2e;
  cursor: pointer;
}

.review__prev:hover,
.review__next:hover {
  background: #ff5b2e;
  box-shadow: 0px 5px 27px rgba(255, 91, 46, 0.3);
  color: white;
}

.review__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 115px;
  flex-shrink: 0;
  width: 100%;
}

.review__item-media {
  margin-top: -50px;
  position: relative;
  width: 274px;
  flex-shrink: 0;
  border-radius: 137px;
}

.review__item-media::before {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  background: #ffda54;
  /* visibility: hidden; */
  z-index: -1;
  border-radius: inherit;
}

.review__img {
  display: block;
  width: 100%;
  border-radius: inherit;
}

.review__blockquote {
  width: 553px;
  margin-top: 24px;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #000000;
  font-weight: 300;
}

.review__author {
  display: flex;
  align-items: center;
  margin-top: 34px;
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #282828;
}

.review__author::before {
  display: inline-block;
  content: "";
  margin-right: 8px;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background: #000000;
}

.review__dots {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-top: 56px;
  margin-bottom: 77px;
}

.review__item-content {
  margin-top: 27px;
}

.review__next {
  margin-left: auto;
}

.review__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
}

.review__dot:hover {
  cursor: pointer;
  background-color: #ff5b2e;
}

.review__dot.active {
  width: 24px;
  background-color: #ff5b2e;
}

/* blog */
.blog {
  padding-bottom: 131px;
}

.blog__top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.blog__top-wrap {
  margin-left: auto;
}

.blog__desc {
  width: 350px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.875;
  color: #656689;
}

.blog__item-desc {
  margin-top: 16px;
  font-size: 1.4rem;
  line-height: 1.875;
  color: #656689;
}

.blog__btn {
  margin-top: 24px;
  border: 1px solid #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  min-width: 182px;
  color: #ff5b2e;
}

.blog__list {
  display: flex;
  column-gap: 48px;
  margin-top: 54px;
}

.blog__item {
  width: 358px;
}

.blog__item-title {
  font-family: Sora, sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.21;
  color: #ffffff;
}

.blog__item-media {
  background: #90ccff;
  border-radius: 24px;
  padding: 24px 0 0 36px;
}

.blog__item:nth-child(2) .blog__item-media {
  background: #ff997e;
}

.blog__item:nth-child(3) .blog__item-media {
  background: #5bd6e2;
}

.blog__img {
  display: block;
  margin-top: 25px;
  width: 100%;
  height: 296px;
  object-fit: cover;
}

.blog__heading {
  margin-top: 28px;
  font-family: "Sora";
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1.55;
  color: #000958;
}
